.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction:column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.place-content-center {
  place-content: center;
}

.place-items-center {
  place-items:center;
}

.align-self-center {
  align-self:center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.margin-inline-auto {
  margin-inline: auto;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.uppercase {
  text-transform:uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

.max-width-max_content {
  width:max-content;
}